body {
    font-family: "Lato", sans-serif;
}
h1 {
    color: steelblue;
}
table {
    border-collapse: collapse;
    border: 1px solid #E8E8E8;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border: none;
}
table tr:first-child td {
    background-color: rgb(102, 152, 192);
    color: white;
}
tr:nth-child(even) {background-color: #E8E8E8;}
tr:hover {background-color: rgb(102, 152, 192); color: white}